*{
    margin: 0%;
}

 /* Nav*/


nav .logo{

    float: left;
    width: auto;
    height:auto;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

nav{
    width: 100%;
    height: 70px;
    top: 0%;
    overflow: hidden;
    position: fixed;
    background-color: #ffdde1;

}
nav ul{
    float: right;
    margin-right: 20px;
    font-size: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

nav li a{
    color: black;
    text-decoration: none;
}

.buscador{

    position: absolute;
    top: 0%;
    left: 2%;
    transform: translate(50%, 50%);  
    margin-bottom: 120px;
    
}

input.src{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    color: #444 ;
    border: 3px solid #a50559;
    background: white url("../img/buscar.png") no-repeat 9px center;
    width: 60px;
    transition: all 5s;
}

input.src:hover{
    width: 180px;
    background-color: white;
    border-color: black;
    box-shadow: 0 0 5px hotpink;
}


.high-section{
    height: 90vh !important;
}

main{
    width: 100%;
    margin: auto;
    flex: 1 0 auto;
    
}

body{

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: auto;
    width: 100%;

}

.section{
    width: 100%;
    height: auto;
    padding-top: 0px;
    margin-top: 0px;
}


/* Inicio*/
.high-section{
    background-image: url(../img/b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
   
  
    
}

.secondari{
    font-size: 30px;
}


.parrafos .secondary{
    width: 90%;
    padding: 3% 1%;
    font-size: 2cm;
    text-align: center;
}


.btn{

    width: 100px;
    height: 100px;
    padding: 15px;
    margin: 100% 100px;
    border-radius: 10px;
    color: black;
    background-color: pink;
    text-align: center;
    font-size: 120%;
    margin-bottom: 10%;
}

a{
    text-decoration: none;
}



/* Second-section*/

.parrafos{
    margin: 20px;
    padding: 10px;
    margin-right: 90px;
}

.parrafos .primary{
    width: 90%;
    padding: 1% 1%;
    font-size: 2cm;
    text-align: center;
}
.ima{
    display: block;
    float: right;
    width: 55%;
    height: 50%;
    border-style: none;
}

.primari{
    background-color: ;
    text-align: left;
    width: 40%;
    padding: 50px 10px;
    font-size: 30px;
}

/* Cosplayer's Gallery*/

.second{
    margin: 50px;
    padding-top: 150px;
    text-align: center;
    width: 90%;
    font-size: 1cm;
    text-align: center;
}

.section .winx{
    width: 80%;
    max-width: 1200px;
    height: 400px;
    padding: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px 40px;
    
}

.section .winx .winxcard{
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center; all: 0.25;

}

.section .winx .winxcard:hover{

    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.winx .winxcard img{
    width: 400px;
    height: 250px;
}

.winx .winxcard h4{
    font-weight: 600;
}

.section .winx .winxcard a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

a{
    text-decoration: none;
    color: #ddd;
}



